# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.lesshst
.viminfo
.bash_history
*.deb
*.ddeb
debbuild/BUILD/build-arch-stamp
debbuild/BUILD/build-indep-stamp
debbuild/BUILD/configure-stamp
debbuild/BUILD/debian/.debhelper/
debbuild/BUILD/debian/libprotobuf-dev/
debbuild/BUILD/debian/libprotobuf-lite18/
debbuild/BUILD/debian/libprotobuf18/
debbuild/BUILD/debian/libprotoc-dev/
debbuild/BUILD/debian/protobuf-compiler/
debbuild/BUILD/debian/python-protobuf/
debbuild/BUILD/debian/tmp/
debbuild/BUILD/protoc.1
debbuild/BUILD/debian/files
debbuild/BUILD/debian/libprotobuf-dev.substvars
debbuild/BUILD/debian/libprotobuf-lite18.substvars
debbuild/BUILD/debian/libprotobuf18.substvars
debbuild/BUILD/debian/libprotoc-dev.substvars
debbuild/BUILD/debian/libprotoc18.substvars
debbuild/BUILD/debian/libprotoc18/
debbuild/BUILD/debian/protobuf-compiler.substvars
debbuild/BUILD/debian/python-protobuf.substvars
